@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: Roboto, sans-serif;
}

#chart {
    max-width: 650px;
    margin: 35px auto;
}


.head{
    font-size: xx-large;
    color: dimgray;
}
.head:hover{
    color: black;
    font-size: xx-large;
}

.barr{
    font-size: x-large;
    color: dimgray;
}

.barr:hover{
    color: black;
}